@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

i {
    color: white;
}
#seek_slider, #volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: white;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#seek_slider::-webkit-slider-thumb,
#volume_slider::-webkit-slider-thumb,
#seek_slider::-moz-range-thumb,
#volume_slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
#seek_slider:hover,
#volume_slider:hover {
    opacity: 1.0;
}